<!-- <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-success-subtle">
        <p>
            <a href="ywang599@centennialcollege.ca">ywang599@centennialcollege.ca</a><br>
        <h6 class="display-6 navbar-text">&copy;2023 All rights reserved</h6>
        </p>

    </nav>


</footer> -->


<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-success-subtle">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p><a href="ywang599@my.centennialcollege.ca">ywang599@my.centennialcollege.ca</a><br>&copy; Heather
                        Wang Portfolio
                    </p>
                </div>
            </div>
    </nav>
</footer>