<!DOCTYPE html>
<j lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/Assets/style.css" />
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css" />

        <style>
            ul.navbar-nav {
                list-style: none;
                /* Remove the bullet */
                /*display: inline;*/
                /* Display the list items inline */
                float: right;


            }

            ul.navbar-nav li a {
                display: inline-block;
                /* Make the list items display inline */
                font-size: 28px;
                color: rgb(45, 76, 76);
                transition: color 0.3s;
            }

            a:link {
                text-decoration: none;
            }

            a:visited {
                text-decoration: none;
            }

            ul.navbar-nav li a:hover {
                text-decoration: none;
                color: rgb(197, 138, 218);
            }

            a:active {
                text-decoration: none;
            }

            html,
            body {
                height: 100%;
                margin: 0;
            }

            body {
                display: flex;
                flex-direction: column;
            }

            main {
                flex: 1;
            }
        </style>
    </head>

    <body>