<!--/*  
Yue Wang Personal Portfolio
Author: Yue Wang
Student#: 301369283
Date: 10/3/2023
*/-->

<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>
        <!DOCTYPE html>
        <html>

        <head>
            <title>About Page</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width" ,initial-scale=1.0>
            <link rel="stylesheet" type="text/css" herf="Assets/style.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        </head>

        <body>

            <div class="about-me">
                <div class="container">

                    <div class="intro">
                        <h2>About Me</h2>
                        <p>
                            I am a current student in the Software Engineering Technology Advanced Diploma co-op
                            program
                            at Centennial College. I hold a MS degree in Systems Science at the University of
                            Ottawa
                            and
                            a BS degree in Accounting & Information System at Boston College.
                        </p>
                        <p>I'm a results-oriented Junior Software Developer, with an academic background in
                            software
                            engineering and information systems,demonstrating a strong technical acumen,
                            research
                            abilities, and critical thinking skills. Proficient in areas of object-oriented
                            programming,
                            software systems design, and database management systems (DBMS).</p>
                        <div class="social-links">
                            <h5>Social links and resume</h5>
                            <a href="www.linkedin.com/in/heatherwang599"><i class="fab fa-linkedin fa-2xl"></i></a>
                            <a href=""><i class="fa-brands fa-github fa-2xl"></i></a>
                            <a href="/Contents/Yue_Wang_Resume.pdf"><i class="fa-solid fa-file-pdf fa-2xl"></i></a><br>
                        </div>
                    </div>


                    <div class="profilepic">
                        <img src="/img/about1.jpg">
                    </div>


                </div>
            </div>

        </body>

        </html>



        <!--script section-->
        <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %>