<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>
        <!DOCTYPE html>
        <html>

        <head>
            <title>About Page</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width" ,initial-scale=1.0>
            <link rel="stylesheet" type="text/css" herf="Assets/style.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        </head>

        <body>
            <div class="service-container">
                <div class="service-column">
                    <div class="service-item">
                        <i class="fa-solid fa-laptop-code fa-xl"></i>
                        <h3>Languages</h3>
                        <ul>
                            <li>C# (advanced)</li>
                            <li>Java (intermediate)</li>
                            <li>SQL</li>
                            <li>JavaScript</li>
                            <li>HTML5</li>
                            <li>CSS</li>
                        </ul>
                    </div>
                </div>
                <div class="service-column">
                    <div class="service-item">
                        <i class="fa-solid fa-network-wired fa-xl"></i>
                        <h3>Frameworks</h3>
                        <ul>
                            <li>MongoDB</li>
                            <li>React</li>
                            <li>Node.js</li>

                        </ul>
                    </div>
                </div>
                <div class="service-column">
                    <div class="service-item">
                        <i class="fa-solid fa-gear fa-xl"></i>
                        <h3>Developer Tools</h3>
                        <ul>
                            <li>Git</li>
                            <li>Tebleau</li>
                            <li>MS Office</li>
                            <li>Oracle SQL</li>
                            <li>Visual Studio Code</li>
                            <!-- Add more items as needed -->
                        </ul>
                    </div>
                </div>
                <div class="service-column">
                    <div class="service-item">
                        <i class="fa-solid fa-school fa-xl"></i>
                        <h3>Courseworks</h3>
                        <ul>
                            <li>Softare Testing</li>
                            <li>Web Development</li>
                            <li>Mobile Development</li>
                            <li>Software System Design</li>
                            <li>Data Structures and Algorithms</li>
                            <li>Objected-oriented Design and Programming</li>
                            <!-- Add more items as needed -->
                        </ul>
                    </div>
                </div>
            </div>
        </body>

        </html>



        <!--script section-->
        <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %>